[general]
portlistener = 3000
atomic = ["atom", "molecule", "organism", "template", "page"]
excludefile = [".git", ".gitignore", ".gitmodule", ".gitkeep"]
engine = { "appservicejs" = "app","webbunjs" = "web", "webnodehonojs" = "web", "deskelectronjs" = "desktop" }
sudopwd = ""

[log]
[log.success]
size = "50m"
frequency = "daily"
mkdir = true
limit = { count = 10, removeOtherLogFiles = true }
symlink = true
dateFormat = "yyyy-MM-dd"

[log.error]
symlink = true
size = "10m"
frequency = "daily"
mkdir = true
limit = { count = 10 }
dateFormat = "yyyy-MM-dd"