[general]
portlistener = 3000
atomic = ["atom", "molecule", "organism", "template", "page"]
excludefile = [".git", ".gitignore", ".gitmodule", ".gitkeep"]
engine = { "appservicejs" = "app","webbunjs" = "web", "webnodehonojs" = "web", "deskelectronjs" = "desktop" }
refengine = { "appservicejs" = "app","webbunjs" = "web", "webnodehonojs" = "web", "deskelectronjs" = "desktop" }
algorithm = "aes-256-cbc"
secretKey = "7a2b0184ba8d9bb1d4128bf8d2e377264183faf7f0e7a9f535d6e830f881f5af" # 32 bytes for aes-256
iv = "0fbf5915a7658c12ab1bbf6d94c3830b" # 16 bytes for AES block size
sudopwd = ""

[log]
[log.success]
size = "50m"
frequency = "daily"
mkdir = true
limit = { count = 10, removeOtherLogFiles = true }
symlink = true
dateFormat = "yyyy-MM-dd"

[log.error]
symlink = true
size = "10m"
frequency = "daily"
mkdir = true
limit = { count = 10 }
dateFormat = "yyyy-MM-dd"